@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

:root{
	/*hue saturation lightness alpha*/
	--primary-color: hsl(330,87%, 17%);
	--secondary-color: hsla(203,100%, 13%,1);
}

body{
	font-family: 'Source Sans Pro', sans-serif;
}

/*Start Header*/
header{
	height: 100vh;
	background:linear-gradient(
		30deg,
		rgba(0,0,0,0),
		rgba(0,0,0,0.5)
		
		),url('../assets/img/banner/banner2.jpg');

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	background-attachment: fixed;

	position: relative;

	
}

/*Start nav bar*/

.navbar{
	background:linear-gradient(rgba(0,0,0,0.3),var(--secondary-color));
	padding: 20px 30px;

	transition: all .7s;
}

.navmenus{
	background:linear-gradient(rgba(0,0,0,0.6),var(--secondary-color));
	padding: 5px 30px;
}
.menuitems{
	color: #eee;
	font-size: 14px;
	letter-spacing: 1px;
}

.menuitems:hover{
	color: #1aaee8;
}

.lines1, .lines2, .lines3{
	width: 25px;
	height: 3px;
	margin: 6px;

	transition: all .5s;

}

.crossxs .lines1{
	transform: rotate(-45deg) translate(-6px,6px);
}

.crossxs .lines2{
	opacity: 0;
}

.crossxs .lines3{
	transform: rotate(45deg) translate(-6px,-6px);
}
/*End nav bar*/

/*Start Banner*/
.banners{
	width: 80%;

	position: absolute;
	left: 50%;
	top: 50%;

	transform: translate(-50%,-50%);
}

.bannerheaders{
	animation-name:bananni;
	animation-duration: 2s;
}

.bannerparagraphs{
	animation-name:bananni;
	animation-duration:2s;
	animation-delay: 1s;

	animation-fill-mode: backwards; 
}

@keyframes bananni{

	0%{
		opacity: 0;
		transform:translateX(-100px);
	}

	100%{

		transform:translateX(0px);	
		opacity: 1;

	}

}
/*ENd Banner*/

/*End Header*/

/*Start About Us*/

.aboutuss{
	background-image: linear-gradient(
		rgba(0,0,0,0.3),
		rgba(0,0,0,0.3)
		
		),url('../assets/img/banner/banner2.jpg');

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	background-attachment: fixed;

	position: relative;
}

.aboutuss .lines{
	width: 30%;
	height: 1.2px;

	background-color: #fff;
	margin-bottom: 3px;
}

.aboutuss .lines:nth-of-type(2){
	width: 20%;
	height: 1px;
}

.aboutuss .lines:nth-of-type(3){
	width: 10%;
	height: 0.5px;
	margin-bottom: 30px;
}

.aboutuss h5{
	background-color: #fff;
	color: #000;
	padding: 10px;
	border-left: 5px solid red;


}

.aboutuss h5 ~ p{
	text-align: left;
	margin:30px 0px;
}

.aboutuss img{
	width: 350px;

	position: absolute;
	bottom: 0;

}
/*End About Us*/

/*Start Properties*/
.titles{
	/*background-color: green;*/
	text-transform: uppercase;
	color: var(--secondary-color);
	display: inline-block;
	padding: 5px 20px;

	position: relative;
}

.titles::before,.titles::after{
	content: '';
	width: 20px;
	height: 20px;

	position: absolute;
}

.titles::before{
	border-left: 3px solid var(--primary-color);
	border-bottom: 3px solid var(--primary-color);

	left:0;
	bottom: 0;
}

.titles::after{
	border-right: 3px solid var(--primary-color);
	border-top: 3px solid var(--primary-color);

	right:0;
	top: 0;
}

.propertylists{
	color: #777;
	cursor: pointer;
}

.activeitems{
	color: var(--primary-color);
}

.properties{

	

}

/*End Properties*/



